body {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
  max-width: 100%;
  grid-gap: 5px;
 
}
header {
  grid-area: header;
  background-color: #C0C0C0;
  font-family: 'Yeon Sung', cursive;;

}

header p {
  text-align: center;
}
section {
    display: grid;
  }
.welcome {
  background-color: #DCDCDC;
  grid-templeate-colomns: auto;
  grid-teampleate-rows: 400px;
  text-align: center;
}
  .about {
    background-color: #DCDCDC;
    grid-templeate-columns: 40% 60%;
    grip-gap: 5px;
    grid-templeate-rows: auto;
  }
.profile-photo {
  background-color: white;
}

img {
  border-radius: 50%;
}

.profile-description {
  padding: 10px 20px;
  background-color: #DCDCDC;
}

aside {
  padding: 5px 15px;
  display: grid;
  grid-templeate-columns: 40% 60%;
  grid-area: aside;
  background-color: #4F4F4F;
  font-family: 'Hind', sans-serif;
}

main {
  grid-area: main;
  background: #DCDCDC;
  font-family: 'Hind', sans-serif;
 
}

footer {
  color: white;
  grid-area: footer;
  background-color:#1C1C1C;
  font-family: 'Supermercado One', cursive;
  border-radius: 5
}

footer p {
  text-align: center;
}
